<table width="100%">
    <tr width="100%">
        <td width="33%" class="left">
            <a [routerLink]="['/content', previousContent?.uid]" routerLinkActive="active" ariaCurrentWhenActive="page">{{previousContent?.title}}</a>
        </td>
        
        <td width="34%" class="middle"><a routerLink='../'>Table of contents</a></td>


        <td width="33%" class="right">
            <a [routerLink]="['/content', nextContent?.uid]" routerLinkActive="active" ariaCurrentWhenActive="page">{{nextContent?.title}}</a>
        </td>
        </tr>
</table>
